.button {
    background: #fff;
    width: max-content;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #624fc9;
    transition: background 0.3s ease-in-out;
    transform-style: preserve-3d;
}

.button:hover {
    background: linear-gradient(to right, #6393d1, #5f49d9);
    border: 1px solid #ffffff;
}

.button h2 {
    color: #4750d8;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color 0.3s ease-in-out;
}

.button:hover h2 {
    color: #FFF; /* You can specify a different color if needed */
}
