.container {
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: flex-end;
    justify-content: space-between;
}

.heading {
    color: #2B2579;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    gap: 10px;
}

.input {
    gap: 20px;
    align-items: flex-start;
    margin: 15px 0px;
    justify-content: space-between;
}

.input h2 {
    color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100px;
}

.input input,
.input textarea,
.input input:focus,
.input textarea:focus {
    fill: #FFF;
    stroke-width: 1px;
    width: 224px;
    stroke: #d4d4d4;
    border: 1px solid #959595;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    border-radius: 4px;
    padding: 8px 10px;
}


.info {
    color: #396def;
    background-color: #e1eaff43;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px #a5a9c8;
    z-index: 0;
    position: relative;
}

.info img {
    position: absolute;
    top: -15px;
    left: -9px;
    z-index: 1;
}