.container {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    width: 600px;
}

.heading {
    color: #2B2579;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.time {
    color: #07137F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

.description {
    margin-top: 10px;
    color: #07137F;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.cardContainer {
    border: 1px solid #07137f19; /* Initial border is transparent */
    border-radius: 1rem;
    box-shadow: 1px 4px 4px #b5b7cf;
    transition: border-color 0.3s ease-in-out; /* Smooth transition for border-color */
    border-width: 1px 1px 1px 1px;
    box-shadow: 0px 3px 3px #b5b7cf;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .cardContainer:hover {
    border-color: #1727bc; /* Border color on hover */
    cursor: pointer;
    background-color: rgba(186, 179, 255, 0.138);
  }
  